html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #FBF7F4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover,
.footer-social-link:hover {
  background-color: #814B18;
}

.button:focus,
.footer-social-link:focus {
  outline: 2px solid #DBB590;
  background-color: #4E2E0E;
}

.button:disabled {
  color: #E7E7E7;
  background-color: #595959;
}

.button:disabled:hover {
  background-color: #595959;
  outline: none;
  cursor: default;
}

.button-light {
  color: #242424;
  background-color: #FFFFFF;
}

.main-header {
  color: #FFFFFF;
  background-color: #000000;
}

.navigation {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.navigation-list {
  width: 430px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 22px;
}

.navigation-user {
  width: 250px;
  margin-left: auto;
  justify-content: end;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 24px 20px;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link-active::after {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 4px;
  background-color: #FFFFFF;
  content: "";
}

.navigation-link:hover {
  background-color: #595959;
}

.navigation-link:focus {
  box-shadow: inset 0 0 0 4px #E7E7E7;
  outline: none;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-link-login {
  padding-left: 44px;
}

.navigation-icons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #DBDBDB;
}

.navigation-link:hover .navigation-icon {
  fill: #242424;
}

.navigation-link:focus .navigation-icon {
  fill: #DBDBDB;
}

.navigation-link-login .navigation-icons {
  right: auto;
  left: 20px;
  margin: auto 0;
}

.main-block {
  flex-grow: 1;
}

.main-index {
  background-image: url("../img/barber-main-background.jpg");
  color: #FFFFFF;
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-wrapper {
  width: 940px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 61px;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;
}

.advantages {
  margin-bottom: 58px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-item {
  width: 277px;
  background-image: url("../img/bullet.svg");
  background-repeat: no-repeat;
  background-size: 24px 24pxkk;
  background-position: center top 51px;
}

.advantages-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 56px;
}

.advantages-description {
  margin: 0;
}

.index-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
  padding: 40px;
  color: #242424;
  background-color: #FBF7F4;
}

.index-block::after {
  content: '';
  position: absolute;
  top: 40px;
  bottom: 40px;
  width: 0;
  border-right: 1px dashed #595959;
}

.index-block:first-of-type::after {
  left: 470px;
}

.index-block:last-of-type::after {
  left: 430px;
}

.index-block:last-child {
  margin-bottom: 0;
}

.index-block h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.services {
  display: flex;
  flex-direction: column;
  width: 390px;
  text-transform: uppercase;
}

.services h2 {
  margin: 0;
  margin-bottom: 28px;
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.services-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.services-item::before {
  flex-grow: 1;
  order: 2;
  margin-right: 16px;
  margin-left: 16px;
  border-bottom: 2px dotted rgba(89, 89, 89, 0.5);
  content: "";
}

.services-price {
  color: #AF7842;
  order: 3;
}

.button-all {
  width: 193px;
  height: 44px;
  padding-right: 44px;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center right 20px;
  margin-top: auto;
}

.gallery {
  width: 390px;
}

.gallery h2 {
  margin: 0;
  margin-bottom: 20px;
}

.slide-show {
  display: flex;
  flex-direction: column;
  position: relative;
}

.slide-show img {
  display: block;
}

.slider-control {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
}

.slider-button {
  width: 48px;
  height: 60px;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  background-image: url("../img/arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button:hover {
  background-color: #814B18;
}

.slider-button:focus {
  outline: 2px solid #DBB590;
  background-color: #4E2E0E;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-pagination-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-pagination-item {
  margin: 0 4px;
}

.slider-pagination-button {
  width: 8px;
  height: 8px;
  margin: 0;
  padding: 0;
  background-color: #DBDBDB;
  border: none;
  border-radius: 50%;
  cursor: pointer;
} 

.slider-pagination-button:hover {
  background-color: #AF7842;
}

.slider-pagination-button:focus {
  background-color: #DBB590;
  outline: none;
}

.slider-pagination-button-current {
  background-color: #242424;
}

.contacts {
  width: 350px;
  font-weight: 700;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 24px;
}

.contacts-address {
  font-style: normal;
}

.contacts-subtitle {
  margin: 0;
  margin-top: 22px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #AF7842;
}

.contacts-address-text {
  margin: 0;
  margin-bottom: 8px;
}

.contacts-phone {
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #242424;
}

.contacts-schedule-list {
  margin: 8px 0;
  padding: 0;
  list-style: none;
}

.contacts-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-top: auto;
}

.button-feedback {
  color: #242424;
  background-color: #FFFFFF;
}

.button-feedback:hover {
  background-color: #DBB590;
}

.button-feedback:focus {
  outline: 2px solid #AF7842;
  background-color: #DBB590;
}

.appointment {
  width: 430px;
}

.appointment h2 {
  margin: 0;
  margin-bottom: 20px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 24px;
}

.appointment-form {
  display: grid;
  grid-template-columns: 114px 74px 208px;
  gap: 17px 19px;
  color: #595959;
}

.field-group {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.appointment-form-name {
  grid-column: 1/-1;
}

.appointment-submit {
  grid-column: 1/-1;
  justify-self: start;
  margin-top: 19px;
}

.form-label {
  margin-bottom: 8px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}

.info {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-left: 2px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe-field {
  margin: 0;
  padding: 8px 14px;
  font: inherit;
  font-weight: 700;
  background-color: #FFFFFF;
  border: 2px solid #242424;
}

.subscribe-field:hover,
.subscribe-field:focus {
  border-color: #AF7842;
}

.subscribe-field:focus {
  outline: 2px solid #DBB590;
}

.subscribe-field:disabled,
.subscribe-field:disabled:hover {
  color: #595959;
  background-color: #DBB590;
  border-color: #595959;
}

.subscribe-field:invalid {
  box-shadow: none;
}

.field:focus:invalid {
  border-color: #EA5454;
}

.main-footer {
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #242424;
  background-repeat: repeat;

}

.main-footer-wrapper {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 40px 0;
}

.main-footer a {
  color: #FFFFFF;
}

.main-footer .htmlacademy-link {
  font-size: 14px;
  color: #DBB590;
}

.main-footer-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer-contacts {
  width: 200px;
  margin-right: 130px;
}

.footer-contacts-logo {
  display: block;
  margin-bottom: 24px
}

.footer-contacts-address {
  margin-bottom: 16px;
  font-style: normal;
}

.footer-contacts-address p {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
}

.footer-contacts-phone {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}

.footer-contacts-map-link {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: underline;
  text-transform: uppercase;
}

.subscribe-form {
  display: flex;
}

.subscribe-email {
  flex-grow: 1;
  margin: 0;
}

.subscribe-button {
  width: 56px;
  height: 44px;
  background-image: url("../img/arrow-tail-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.footer-social {
  margin-left: auto;
  max-width: 190px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  display: block;
  width: 56px;
  height: 44px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.footer-social-tw {
  background-image: url("../img/twitter.svg");
}

.footer-social-vk {
  background-image: url("../img/vk.svg");
}

.footer-social-ins {
  background-image: url("../img/facebook.svg");
}

.footer-social p {
  margin: 0;
}

.navigation-logo {
  align-self: center;
  margin-right: 100px;
}

.main-catalog {
  background-image: url(../img/noisy-texture-80x80-o8-d27-c-1f1f1f-t1\ 1.png);
  padding-top: 40px;
}

.catalog-header-title {
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style: none;
  color: #242424;
}

.breadcrumbs-item:not(:last-of-type) {
  padding-right: 32px;
  background-image: url("../img/bullet-black.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center right 8px;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-products {
  display: flex;
}

.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-filter-title {
  margin-bottom: 22px;
  font-family: "PT Sans Narrow", sans-serif; ;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #242424;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #AF7842;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #DBB590;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #DBB590;
} 

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.catalog-filter-input {
  width: 40px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}
.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #242424;
}

.control:hover .control-mark {
  border-color: #814B18;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 2px;
  background-color: #242424;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.control-label {
  line-height: 22px;
  font-weight: 700;
}

.catalog {
  width: 700px;
}

.sorting-container {
  display: flex;
  margin-bottom: 16px;
  padding: 16px;
  color: #000000;
  background-color: #FFFFFF;
}

.sorting-type {
  margin-right: auto;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 260px;
  margin-right: auto;
}

.select-control {
  width: 100%;
  padding: 8px 14px;
  padding-right: 48px;
  font: inherit;
  font-weight: 700;
  background-color: #FFFFFF;
  border: 2px solid #242424;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #AF7842;
}

.select-control:focus {
  outline: 2px solid #DBB590;
}

.card-grid-toggle {
  width: 56px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  outline-offset: -5px;
}

.card-grid-toggle:hover {
  background-color: #814B18;
}

.card-grid-toggle:focus {
  outline: 2px solid #DBB590;
  background-color: #4E2E0E;
}

.card-grid-toggle svg {
  fill: #FFFFFF;
}

.card-grid-toggle:hover svg,
.card-grid-toggle:focus svg {
  fill: #FFFFFF;
}

.card-grid-toggle-current {
  background-color: #FFFFFF;
}

.card-grid-toggle-current svg {
  fill: #000000;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px 0px rgba(79, 70, 60, 0.16);
}

.product-card:nth-child(3n) {
  margin-right: 0;
}

.product-card-link {
  text-decoration: none;
}

.product-card img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 16px 0;
  margin-bottom: 16px;
}

.product-card-title {
  margin: 0 16px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #242424;
}

.product-card-price {
  margin: 0 16px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #814B18;
  text-transform: uppercase;
}

.product-card-button {
  margin: 16px;
  margin-top: auto;
}

.pagination-block {
  display: flex;
  padding: 16px;
  background-color: #FFFFFF;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding: 14px 20px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
}

.pagination-link:hover {
  background-color: #814B18;
}

.pagination-link:focus {
  outline: 2px solid #DBB590;
  background-color: #4E2E0E;
}

.pagination-current {
  color: #242424;
  background-color: #FFFFFF;
}

.pagination-disabled {
  background-color: #595959;
}

.pagination-prev,
.pagination-next {
  position: relative;
}

.pagination-prev {
  background-image: url("../img/arrow-left.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.pagination-next {
  background-image: url("../img/arrow-right.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.pagination-show-more {
  width: 155;
  height: 44px;
  margin-left: auto;
}

.popover {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 300px;
  padding: 40px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #242424;
  background-color: #FFFFFF;
  min-height: 186px;
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
  display: none;
}

.popover-open {
  display: block;
}

.popover-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 70px;
}

.popover-cart {
  width: 420px;
}

.popover-cart .popover-close-button {
  padding-left: 44px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 22px center;
}

.popover-content {
  height: 100%;
}

.popover-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 35px;
  color: #000000;
  text-transform: uppercase;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-item {
  display: grid;
  grid-template-columns: 284px 56px;
}

.cart-item + .cart-item {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px dashed #595959;
}

.cart-item-title {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #242424;
  text-transform: uppercase;
}

.cart-item-price {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #AF7842;
}

.cart-item .button {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0 18px 40px 0 rgba(79, 70, 60, 0.16);
}


.modal-auth {
  width: 360px;
}

.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
} 

.auth-form-field {
  padding: 10px 16px;
  font: inherit;
  font-weight: 700;
  background-color: #FFFFFF;
  border: 2px solid #242424;
}

.auth-form .field-group {
  margin: 0;
  margin-bottom: 16px;
}


.auth-form-user-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
}

.auth-form-user-options .control-label {
  font-weight: 400;
}


.auth-form-recovery {
  line-height: 22px;
  color: #000000;
}

.auth-form-button {
  width: 360px;
  margin-bottom: 16px;
}

.auth-form .button + .button {
  margin: 0;
}

.auth-form-register {
  width: 360px;
  color: #000000;
  background-color: #FFFFFF;
}
